#
#  requirements.txt
#
#    List of dependencies for the package.
#
#  Copyright (C) 2018-2020 by
#  Nikhil Ramakrishnan.
#
#  This file is part of the FreeType project, and may only be used,
#  modified, and distributed under the terms of the FreeType project
#  license, LICENSE.TXT.  By continuing to use, modify, or distribute
#  this file you indicate that you have read the license and
#  understand and accept it fully.

# Direct project dependencies
mistune==0.8.4
mkdocs==1.1
mkdocs-material==4.6.3
PyYAML==5.3.1
